body {
	background-color: #ffffff;
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	}
.p {
	margin:0px;
	padding:0px;
	vertical-align: top;
}
p {
	padding-top:0px;
	margin-top:0px;
	margin:0px;
}
img {
	border:0px;
}
div {
	margin:0px;
	padding:0px;
}
.AbsWrap {
	width: 100%;
	position: relative;
}
.rowWrap {
	width: 100%;
}
.clearfloat {
	clear:both;
	height:0px;
}
a:link, a:visited{
	COLOR:inherit;
	text-decoration:inherit;
}
#main {

	width:90%;
	margin: 0px auto 0px auto;
	border: 0px solid #f0f0f0;

}
#header_div {
	background-color:#CCC;
	width:100%;
	padding-top:0px;
	height:124px;
	margin-left:16px;
	margin-top:12px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
#Div {
	background-color: #ccc;
	width:100%;
	padding-top:0px;
	min-height:601px;
	margin-left:16px;
	margin-top:13px;
	margin-bottom:32px;
	float:left;
	display:inline;

}
#logo_div {
	background-color:#DDEAFF;
	width:189px;
	padding-top:0px;
	height:32px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
#topmenu_div {
	background-color:#D3D8E7;
	width:787px;
	padding-top:0px;
	height:25px;
	margin-left:16px;
	margin-top:0px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
#colwrap2 {
	float:left;
	width:188px;
	margin-top:0px;
	margin-left:0px;
	border: 0px solid #f0f0f0;

}
#leftmenu_div {
	background-color:#DDD;
	width:189px;
	padding-top:0px;
	height:299px;
	margin-left:0px;
	margin-top:16px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
#leftbanner1_div {
	background-color: #003366;
	width:189px;
	padding-top:0px;
	height:99px;
	margin-left:0px;
	margin-top:16px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
#leftbanner2_div {
	background-color: #003366;
	width:189px;
	padding-top:0px;
	height:99px;
	margin-left:0px;
	margin-top:16px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
#content_div {
	background-color:#fff;
	width:70%;
	padding-top:0px;
	min-height:531px;
	margin-left:16px;
	margin-top:16px;
	margin-bottom:16px;
	float:left;
	display:inline;

}
#rightbar_div {
	background-color: #996600;
	width:220px;
	padding-top:0px;
	height:531px;
	margin-left:16px;
	margin-top:16px;
	margin-bottom:0px;
	float:left;
	display:inline;

}
